<script>
  export let src
  export let alt
  export let height
  export let width

  import { onMount } from 'svelte'
  let loaded = false
  let thisImage

  onMount(() => {
    thisImage.onload = () => {
      loaded = true
    }
  }) 
</script>
  
<style type="text/scss">
  .container{
    overflow: hidden;
      
    img {
      height: 100%;
      width: 100%;
      opacity: 0;
      transform: scale(1);
      transition: opacity 200ms ease-out;
      object-fit: cover;
      object-position: center;
    }

    img.loaded {
      opacity: 1;
    }
  }    
</style>

<div class="container" style="height:{height}; width: {width};">  
  <img src={'BASE_URL' + src} {alt} class:loaded bind:this={thisImage} loading="lazy" />
</div>
 