
<script>
    export let src
    export let alt
    export let height
    export let width
    
    import { onMount } from 'svelte'
    import IntersectionObserver from '../../utils/IntersectionObserver.svelte'
    import Image from './Image.svelte'
    let nativeLoading = false
    // Determine whether to bypass our intersecting check
    onMount(() => {
      if ('loading' in HTMLImageElement.prototype) {
        nativeLoading = true
      }
    })
    
  </script>
  
  <IntersectionObserver once={true} let:intersecting={intersecting}>
    {#if intersecting || nativeLoading}
      <Image {alt} {src} {height} {width}/>
    {/if}
  </IntersectionObserver> 