<script>
  import { _ } from 'svelte-i18n'
</script>

<div class="lockup">
  <h1 class="lockup__title">{$_('main.lockup_title')}</h1>
  <h2 class="lockup__subtitle">{$_('main.lockup_subtitle')}</h2>
  <p class="lockup__body">{$_('main.lockup_body')}</p>
</div>

<style type="text/scss">
  @import '../scss/variables';
  .lockup {
    display: inline-block;
    padding: 58px;
    vertical-align: middle;
    align-self: center;
    text-align: left;
    width: 33%;

    .lockup__title {
      font-size: 3.75rem;
      font-weight: 400;
      margin: 0 0 1rem 0;
      font-family: 'JordanNHGDisp75Bold';
    }
    .lockup__subtitle {
      font-size: 1.25rem;
      font-weight: 400;
      margin: 0 0 1.5rem 0;
      font-family: 'JordanNHGDisp45Light';
    }
    .lockup__body {
      font-size: 0.9rem;
      font-family: 'JordanNHGDisp45Light';
    }
  }
</style>
