<script>
  import { _ } from 'svelte-i18n'
  import MainFigure from './MainFigure.svelte'
  import Lockup from './Lockup.svelte'
</script>

<main>
  <div class="container">
    <MainFigure />
    <Lockup />
  </div>
</main>

<style type="text/scss">
  @import '../scss/variables';

  main {
    text-align: center;
    padding: 1rem;
    max-width: 24rem;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }

  .container {
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    width: 100%;
    max-height: 620px;
    max-width: 1440px;
    margin: auto;
  }
  @media (min-width: $breakpoint-small) {
    main {
      max-width: none;
    }
  }
</style>
