<script>
  import { _ } from 'svelte-i18n'
  import MakeResizable from './utils/MakeResizable.svelte'
</script>

<figure class="main__figure">
  <MakeResizable>
    <div class="main__figure-content">
      <img class="main__image" src="images/jordan-1-closup-pic-1.jpg" alt="" />
      <div class="main__hotspots">
        <div class="main__hotspot main__hotspot-1">
          <span class="main__hotspot-tooltip">
            {$_('hotspots.hotspot_1')}
          </span>
        </div>
        <div class="main__hotspot main__hotspot-2">
          <span class="main__hotspot-tooltip">
            {$_('hotspots.hotspot_2')}
          </span>
        </div>
        <div class="main__hotspot main__hotspot-3">
          <span class="main__hotspot-tooltip">
            {$_('hotspots.hotspot_3')}
          </span>
        </div>
      </div>
    </div>
  </MakeResizable>
</figure>

<style type="text/scss">
  @import '../scss/variables';
  .main__figure {
    margin: 0;
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 66.6%;
    aspect-ratio: 48 / 31;
    vertical-align: middle;

    .main__figure-content {
      min-height: 100%;
      min-width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: relative;
      aspect-ratio: 48 / 31;
    }

    .main__image,
    .main__hotspots {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }

    .main__hotspots {
      aspect-ratio: 48 / 31;

      .main__hotspot {
        width: 20px;
        height: 20px;
        border: 2px solid;
        border-radius: 50%;
        position: absolute;
      }

      .main__hotspot-tooltip {
        background: $white;
        border-radius: 11px;
        padding: 15px 38px;
        white-space: nowrap;
        z-index: -2;
        position: absolute;
        top: 9px;
        left: 9px;
        border: 1px solid $grey;
        font-size: 0.9rem;
        opacity: 0;
        transition: opacity 0.3s;
        font-family: 'JordanNHGDisp45Light';
      }

      .main__hotspot:hover {
        .main__hotspot-tooltip {
          opacity: 1;
        }
      }

      .main__hotspot-1 {
        top: 53%;
        right: 68%;
        border-color: $black;
      }
      .main__hotspot-2 {
        top: 27%;
        right: 50%;
        border-color: $white;
      }
      .main__hotspot-3 {
        top: 70%;
        right: 50%;
        border-color: $black;
      }
    }
  }
</style>
