<script>
export let src = '';
export let alt = '';
export let type = '';
export let height = 0;
export let width = 0;
export let autoplay = false;
export let loop = false;
export let playState = '';

import LazyImage from './LazyImage/LazyImage.svelte';
import Video from './LazyVideo/Video.svelte';
import BodyMovin from './BodyMovin/BodyMovin.svelte';

</script>
<style type="text/scss">
.media{
  overflow: hidden;
}

</style>

<div class="media {$$props.class}" style="height:{height}; width: {width};">
  {#if type === 'image'}
    <LazyImage {src} {alt} {height} {width}/>
  {:else if type === 'video'}
    <Video {src} {height} {width} {autoplay} {loop}/>
  {:else if type === 'bodymovin'}
    <BodyMovin {src} {height} {width} {playState}/>
  {/if}
</div>