<script>
  export let src;
  export let width;
  export let height;
  export let autoplay;
  export let loop;
  export let muted = true;
</script>
<style type="text/scss">
  .container{
    overflow: hidden;
    position: relative;

    video{
      border: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
</style>

<div class="container" style="height:{height}; width: {width};">
  <video bind:muted={muted} autoplay={autoplay} loop={loop}>
    <source {src} type="video/mp4" />
    <track kind="captions">
  </video>  
</div>