<script>
import bodymovin from 'lottie-web';
import { onMount } from "svelte";

export let src;
export let width;
export let height;
export let playState;

let animationContainer;
let anim;

const appendAnimation = (container) => {
  return bodymovin.loadAnimation({
    container: container,
    path: src,
    renderer: 'svg',
    loop: true,
    autoplay: false,
  });
}

const controlAnimation = (state) => {
  if(state === "pause"){
    anim.pause()
  }
  if(state === "play"){
    anim.play()
  }
};

onMount(() => {
  anim = appendAnimation(animationContainer);
  controlAnimation(playState);
});

$: animationContainer !== undefined ? controlAnimation(playState) : '';

</script>
<style lang="scss">
.container{
  overflow: hidden;
  position: relative;

  .bodyMovinAnimation{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
</style>

<div class="container" style="width: {width}; height: {height}">
  <div class="bodyMovinAnimation" bind:this={animationContainer}></div>
</div>