// Calculate EM based on font-size component
@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}

// Calculate letter-spacing tracking
@function tracking( $target ){
  @return ($target / 1000) * 1em;
}

@mixin tracking( $target ){
  letter-spacing: tracking( $target );
}
