//Theme for page
//Breakpoints/size:
$breakpoint-mobile: 375px;
$breakpoint-small: 675px;
$breakpoint-large: 1440px;
$screen-width: 100vw;

//Colours:
$black: #000;
$grey: #979797;
$white: #fff;

//Fonts:
@font-face {
  font-family: 'JordanNHGDisp75Bold';
  src: url('/fonts/Jordan NHG Disp-75 Bold.otf') format('opentype');
}
@font-face {
  font-family: 'JordanNHGDisp45Light';
  src: url('/fonts/Jordan NHG Disp-45 Light.otf') format('opentype');
}
