<script>
  import { onMount, onDestroy } from 'svelte'

  // Make a div resizable
  function makeResizableDiv(div) {
    // Set the element and the resizers in the element
    const element = document.querySelector(div)
    const resizers = document.querySelectorAll(div + ' .resizer')
    // Set the initial values
    const minimum_size = 200
    let original_width = 0
    let original_height = 0
    let original_x = 0
    let original_y = 0
    let original_mouse_x = 0
    let original_mouse_y = 0
    // Initialize all the resizer events
    for (let i = 0; i < resizers.length; i++) {
      const currentResizer = resizers[i]
      currentResizer.addEventListener('mousedown', function (e) {
        e.preventDefault()
        original_width = parseFloat(
          getComputedStyle(element, null)
            .getPropertyValue('width')
            .replace('px', '')
        )
        original_height = parseFloat(
          getComputedStyle(element, null)
            .getPropertyValue('height')
            .replace('px', '')
        )
        original_x = element.getBoundingClientRect().left
        original_y = element.getBoundingClientRect().top
        original_mouse_x = e.pageX
        original_mouse_y = e.pageY
        window.addEventListener('mousemove', resize)
        window.addEventListener('mouseup', stopResize)
      })

      // And this is where the magic happens
      // All 4 resizers have slightly different behavior because of their position
      function resize(e) {
        if (currentResizer.classList.contains('bottom-right')) {
          const width = original_width + (e.pageX - original_mouse_x)
          const height = original_height + (e.pageY - original_mouse_y)
          if (width > minimum_size) {
            element.style.width = width + 'px'
          }
          if (height > minimum_size) {
            element.style.height = height + 'px'
          }
        } else if (currentResizer.classList.contains('bottom-left')) {
          const height = original_height + (e.pageY - original_mouse_y)
          const width = original_width - (e.pageX - original_mouse_x)
          if (height > minimum_size) {
            element.style.height = height + 'px'
          }
          if (width > minimum_size) {
            element.style.width = width + 'px'
          }
        } else if (currentResizer.classList.contains('top-right')) {
          const width = original_width + (e.pageX - original_mouse_x)
          const height = original_height - (e.pageY - original_mouse_y)
          if (width > minimum_size) {
            element.style.width = width + 'px'
          }
          if (height > minimum_size) {
            element.style.height = height + 'px'
          }
        } else {
          const width = original_width - (e.pageX - original_mouse_x)
          const height = original_height - (e.pageY - original_mouse_y)
          if (width > minimum_size) {
            element.style.width = width + 'px'
          }
          if (height > minimum_size) {
            element.style.height = height + 'px'
          }
        }
      }

      function stopResize() {
        // Stop resizing on mousemove when the mousebutton is not clicked
        window.removeEventListener('mousemove', resize)
      }
    }
  }

  // Wait for the page to have been mounted before initializing the resize
  onMount(async () => {
    makeResizableDiv('.main__figure')
  })
  onDestroy(() => {
    window.removeEventListener('mousemove', resize)
    window.removeEventListener('mouseup', stopResize)
  })
</script>

<slot />
<div class="resizers">
  <div class="resizer top-left" />
  <div class="resizer top-right" />
  <div class="resizer bottom-left" />
  <div class="resizer bottom-right" />
</div>

<style type="text/scss">
  @import '../../scss/variables';
  * {
    user-select: none;
  }
  .resizers {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .resizer {
    width: 10px;
    height: 10px;
    border: solid $white;
    position: absolute;
    pointer-events: all;

    &.top-left {
      left: 5px;
      top: 5px;
      border-bottom: 2px;
      border-right: 2px;
      cursor: nwse-resize;
    }

    &.top-right {
      right: 5px;
      top: 5px;
      border-bottom: 2px;
      border-left: 2px;
      cursor: nesw-resize;
    }

    &.bottom-left {
      left: 5px;
      bottom: 5px;
      border-top: 2px;
      border-right: 2px;
      cursor: nesw-resize;
    }

    &.bottom-right {
      right: 5px;
      bottom: 5px;
      border-left: 2px;
      border-top: 2px;
      cursor: nwse-resize;
    }
  }
</style>
