<script>
import { onMount } from "svelte"

export let track = Node
export let totalSlides = 0
export let slides = []
export let sliderTrackWidth = 0
export let padding = 0
export let paddingLeft = 0
export let paddingRight = 0

const countSlides = (sliderTrack) => {
  totalSlides = sliderTrack.childElementCount;
}

const getSlides = (sliderTrack) => {
  slides = sliderTrack.childNodes;
}

const calcWidthTrack = (slides) => {
  let widthTrack = 0;
  paddingLeft = parseInt(window.getComputedStyle(track).getPropertyValue('padding-left'));
  paddingRight = parseInt(window.getComputedStyle(track).getPropertyValue('padding-right'));

  for(let i = 0; i < slides.length; i++){
    if(slides[i].clientWidth > 0){
      widthTrack = widthTrack + slides[i].clientWidth;
    }
  }

  return widthTrack + paddingLeft + paddingRight;
}

const widthSliderTrack = () => {
 
  countSlides(track);
  getSlides(track);
  sliderTrackWidth = calcWidthTrack(slides);
};

onMount(() => {
  widthSliderTrack();
})

</script>

<style lang="scss">
@import '../../scss/_variables.scss';

.TrackContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;  
  transform-origin: left;
  position: relative;
  left: 0px;
  
  @media (max-width: $breakpoint-small){
    padding-left: 2.4rem;
  }
}
</style>

<div class="TrackContainer" style="width: {sliderTrackWidth}px; padding:0 {padding};" bind:this={track}>
  <slot/>
</div>