<script>
import SliderTrack from './SliderTrack.svelte';
import { gsap } from 'gsap';
import { Draggable } from 'gsap/Draggable';
import { InertiaPlugin } from 'gsap/InertiaPlugin';

gsap.registerPlugin(Draggable, InertiaPlugin);

export let width;
export let height;
export let maxWidth = 'auto';
export let itemsInView;
export let slideWidth;
export let totalSlides = 0;
export let edgeResistance = 0.6;
export let slideDuration = 0.3;
export let progress = 0;
export let overflow = "hidden";
export let padding = 0;

export const nextSlide = () => {
  if(lastX > endSlider){
    animateSlides(-1);
  }
};

export const prevSlide = () => {
  if(lastX < 0){
    animateSlides(1);
  }
};

let sliderContainer;
let track;
let slides;
let sliderTrackWidth;
let lastX = 0;
let endSlider;
let draggable;
let paddingLeft;
let paddingRight;

const setProgress = () => {
  if(lastX < 0){
    let slidesOutOfView = totalSlides - itemsInView;
    let slidesViewed = lastX / endSlider;

    if(slidesViewed < 0.5 && slidesViewed > 0.1){
      slidesViewed = 0.5
    }

    if(slidesViewed > 0.6 && slidesViewed < 1){
      slidesViewed = 1
    }

    progress = itemsInView + Math.floor(slidesViewed * slidesOutOfView);

  } else{
    progress = itemsInView;
  }
}

const initEndSlider = (totalSlides, slideWidth) => {
  if(totalSlides !== undefined){
    let widthItemsInView = (itemsInView * slideWidth) + paddingLeft + paddingRight;
    endSlider = -(sliderTrackWidth - widthItemsInView);
  }
}

const snapX = (value) => {
  return Math.round(value / slideWidth) * slideWidth;
}

const animateSlides = (direction) => {
  if(progress > 0){
    let x = snapX(gsap.getProperty(track, "x") + direction * slideWidth);
      let snapMove = gsap.to(track, {
        x: x,
        duration: slideDuration,
      });
      lastX = snapMove.vars.x;
  } 
}

$:initEndSlider(totalSlides, slideWidth);
$:setProgress(lastX);
$: draggable = Draggable.create(track, {
  type: "x",
  bounds: sliderContainer,
  allowContextMenu: true,
  inertia: true,
  throwProps:true,
  edgeResistance: edgeResistance,
  snap: {
    x: snapX
  },
  onDragEnd: () => {
    lastX = draggable[0].endX
  }
});

</script>

<style lang="scss">
.SliderContainer{
  position: relative;
}
</style>

<div class="SliderContainer" style="max-width: {maxWidth}; width: {width}; height: {height}; overflow: {overflow};" bind:this={sliderContainer}>
  <SliderTrack
    bind:track
    bind:totalSlides
    bind:slides
    bind:sliderTrackWidth
    bind:paddingLeft
    bind:paddingRight
    {padding}
  >
    <slot/>
  </SliderTrack>
</div>